/*
small: 480px, 30em
medium: 768px, 48em
laptop: 1024px, 64em
large: 1200px, 75em,
extra: 1980px, 105em,

font-size: rem
width: % + max-width, ch,
padd/mar: em
media q: em
*/
/* General styles start */
:root {
    --content-width: 100%;

    --primary: #064789;
    --secondary: #427aa1;
    --light: #ebf2fa;
    --dark: #1a1a1a;

    scroll-behavior: smooth;

    font-size: 18px ;
}
* {
    box-sizing: border-box;
}
*:focus {
    outline: 3px solid #ff8c00;
}
img {
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 1rem 0 1rem 2rem;
}
li {
    max-width: 80ch;
    margin: 0.25rem 0 0.5rem 0;
    color: var(--dark);
}
h1, h2, h3 h4, h5, h6 {
    max-width: 75ch;
    padding: 0.25rem 0 0.5rem 0;
    color: var(--dark);
}
p {
    max-width: 75ch;
    padding: 0.25rem 0 0.5rem 0;
    color: var(--dark);
}
/* General styles end */
.skip-to-main {
 position: absolute;
 top: 0;
 transform: translateY(-200%);
 padding: 1em;
 background-color: var(--primary);
 color: white;
}
.skip-to-main:focus {
 transform: translateY(0%);
}
body {
    margin: 0;
}
header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.query-container {
    width: var(--content-width);
}
@media (min-width: 30rem) {
    :root {
        --content-width: 30rem;
    }
    .query-container {
        width: var(--content-width);
    }
}
@media (min-width: 48rem) {
    :root {
        --content-width: 48rem;
    }
    .query-container {
        width: var(--content-width);
    }
}
@media (min-width: 64rem) {
    :root {
        --content-width: 64rem;
    }
    .query-container {
        width: var(--content-width);
    }
}
@media (min-width: 75rem) {
    :root {
        --content-width: 75rem;
    }
    .query-container {
        width: var(--content-width);
    }
}
